[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
max_allowed_packet=64M
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
max_connections=1000
transaction-isolation = READ-COMMITTED
default-authentication-plugin=mysql_native_password